# Jekyll
_compress_images_cache.yml
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler
.bundle/
!.bundle/config
vendor/
.gems/

# Nix
result
result-*
.direnv

# OS files
# Bundler
# Ignore all of .bundle except the config we want tracked
# We will manually force git to add the config at .bundle/config
.bundle/*
