<!DOCTYPE html>
<html>
  {% include head.html %}
  <body data-target=".navbar-fixed-top">
    {% include nav.html %} 
    
    <header class="billboard" style="background-image: url('{% if page.background_image contains "://" %}{{ page.background_image }}{% else %}{{ page.background_image | default: site.default_background_image | relative_url  }}{% endif %}');">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <div class="hero-box{% if page.centred %} centred-text{% endif %}">
                    {{ content }}
                    
                    {% include email.html %}
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </header>

{% include js.html %}
  </body>
</html>
